
  <div class="modal-body denegado">
    <div class="text-center">
      <i class="bi bi-exclamation-circle mb-2"></i>
      <p class="mb-3">¡Tu correo electrónico no esta habilitado para ingresar mediante esta opción!</p>
    </div>
    <p class="normal">Para acceder debes hacerlo utilizando tu <b class="font-weight-500">usuario, organización y clave.</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-orange" (click)="activeModal.close('Save click')">Entendido</button>
  </div>